@import '../../stylesheets/partials/base';

.na

.hivekeeper-logo {
    height: 35px;
    margin-right: 10px;
}

.navbar-brand {
    display: -webkit-inline-box;
    .hivekeeper-logo{
        height: 35px;
        margin-right: 10px;
    }
}

.bg-inverse {
    background-color: $navbar !important;
}

.active-link {
    .nav-link {
        color: #fff;
    }
}

ul { overflow:auto; }
li { float:left; }
li:last-child { float:right; }