<nav class="col-sm-4 col-md-3 hidden-xs-down bg-faded sidebar">
  <div class="sidebar left">
    <ul class="list-sidebar bg-defoult">
      <li>
        <a data-toggle="collapse" (click)="isSocialCollapsed = !isSocialCollapsed" class="collapsed active">
                <i class="material-icons">group</i>
                <span class="nav-label">Socialt</span>
                <i class="material-icons pull-right" [hidden]="!isSocialCollapsed">keyboard_arrow_left</i>
                <i class="material-icons pull-right" [hidden]="isSocialCollapsed">keyboard_arrow_down</i>
              </a>
        <ul class="sub-menu collapse" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="!isSocialCollapsed">
          <li><a>Föreningar</a></li>
          <li><a>Vänner</a></li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" (click)="isCalendarCollapsed = !isCalendarCollapsed" class="collapsed active">
                <i class="material-icons">event</i>
                <span class="nav-label">Kalender</span>
                <i class="material-icons pull-right" [hidden]="!isCalendarCollapsed">keyboard_arrow_left</i>
                <i class="material-icons pull-right" [hidden]="isCalendarCollapsed">keyboard_arrow_down</i>
              </a>
        <ul class="sub-menu collapse" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="!isCalendarCollapsed">

          <li><a>General</a></li>

        </ul>
      </li>
      <li>
        <a data-toggle="collapse" (click)="isTodoCollapsed = !isTodoCollapsed" class="collapsed active">
                <i class="material-icons">format_list_bulleted</i>
                <span class="nav-label">Todo</span>
                <i class="material-icons pull-right" [hidden]="!isTodoCollapsed">keyboard_arrow_left</i>
                <i class="material-icons pull-right" [hidden]="isTodoCollapsed">keyboard_arrow_down</i>
              </a>
        <ul class="sub-menu collapse" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="!isTodoCollapsed">
          <li class="active"><a>Socialt</a></li>
          <li><a>Föreningar</a></li>
          <li><a>Vänner</a></li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" (click)="isInventoryCollapsed = !isInventoryCollapsed" class="collapsed active">
                <i class="material-icons">folder</i>
                <span class="nav-label">Inventarie</span>
                <i class="material-icons pull-right" [hidden]="!isInventoryCollapsed">keyboard_arrow_left</i>
                <i class="material-icons pull-right" [hidden]="isInventoryCollapsed">keyboard_arrow_down</i>
              </a>
        <ul class="sub-menu collapse" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="!isInventoryCollapsed">

          <li><a>General</a></li>
          <li><a>Buttons</a></li>

        </ul>
      </li>
      <li>
        <a data-toggle="collapse" (click)="isStatisticsCollapsed = !isStatisticsCollapsed" class="collapsed active">
                <i class="material-icons">show_chart</i>
                <span class="nav-label">Rapporter / Statistik</span>
                <i class="material-icons pull-right" [hidden]="!isStatisticsCollapsed">keyboard_arrow_left</i>
                <i class="material-icons pull-right" [hidden]="isStatisticsCollapsed">keyboard_arrow_down</i>
              </a>
        <ul class="sub-menu collapse" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="!isStatisticsCollapsed">
          <li><a>General</a></li>
          <li><a>Buttons</a></li>
          <li><a>Bootstrap Model</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>